body {
    background-color: brown;
}

div.burrito {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    box-shadow: 0 0 10px;
    background-color: blanchedalmond;
    text-align: center;
    margin: auto;
    width: 50em;
    padding: 1px;

}

#burrito-ingred {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    box-shadow: 0 0 10px;
    background-color: blanchedalmond;
    margin: auto;
    width: 30em;
    padding: 1px;
}

.instruc,.ingred {
    text-align: center;
}

div.burrito-instruc {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    box-shadow: 0 0 10px;
    background-color: blanchedalmond;
    margin: auto;
    width: 30em;
}

.button {
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 10px;
}

div.spaghetti {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    box-shadow: 0 0 10px;
    background-color: blanchedalmond;
    text-align: center;
    margin: auto;
    width: 50em;
    padding: 1px;

}

#spaghetti-ingred {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    box-shadow: 0 0 10px;
    background-color: blanchedalmond;
    margin: auto;
    width: 15em;
    padding: 1px;
}

.spaghetti-instruc {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    box-shadow: 0 0 10px;
    background-color: blanchedalmond;
    margin: auto;
    width: 30em;
    padding: 1px;
}

div.chilaquiles {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    box-shadow: 0 0 10px;
    background-color: blanchedalmond;
    text-align: center;
    margin: auto;
    width: 50em;
    padding: 1px;

}

#chilaquiles-ingred {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    box-shadow: 0 0 10px;
    background-color: blanchedalmond;
    margin: auto;
    width: 25em;
    padding: 1px;
}

.chilaquiles-instruc {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    box-shadow: 0 0 10px;
    background-color: blanchedalmond;
    margin: auto;
    width: 30em;
    padding: 1px;
}
